img{
 width:400px;
 height:300px;
 position: center;
 object-fit: none;
 object-position: 50px 10%;
}
body{
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}