img{
 width:400px;
 height:300px;
 position: center;
 object-fit: none;
 object-position: 5px 50%;
}
body{
    background-color: antiquewhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}