body{
    background-color: rgb(239, 240, 227);
    font-family: 'Times New Roman', Times, serif;
}

.esquerdo{
    text-align: center;
}

caption{
    text-transform: uppercase;
    font-size: 20px;
    color: black;
}

table{
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}

color a{
    color: #006600;
}

color b{
    color: #0000ff;
}

color c{
    color: #ff9900;
}

figure{ 
    border: 1px #cccccc solid;
    width: 50%;
    padding: 4px;
    margin: auto;
}
figure img{
    border-radius: 50%;
}

figcaption{
background-color:#000000;
color: white;
padding: 2px;
text-align: center;
font-style: italic;
}

table{
    width: 100%;
    margin-bottom : .5em;
    table-layout: fixed;
    text-align: center;
}

td, th {
    padding: .7em;
    margin: 0;
    border: 1px solid #ccc;
    /*border: 1px solid #ccc;*/
    text-align: center;
  }
  
  tr{
    background-color: #6a0707;
  }
  td{
    background-color: #f0f0f0;
  }
footer {
    /*position: fixed;*/
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(#f0f0f0, #6a0707);
    color: rgb(0, 0, 0);
    text-align: center;
 }

.cabecalho{
    text-align: center;
    font-size: 25px;
}

 caption{
    color: #6a0707;
 }

 .primeiro{
    color:#006600;
 }

.segundo{
    color: #0000ff;
}

.terceiro{
    color: #ff9900;
}
.elemento1 {
    position: center;
    width: 320px;
    border: 5px solid #ff0000; 
    padding: 10px;
    margin: auto;
}
.box{
    text-align: center;
}
.boxmodel2{
    width: 320px;
    border: 1px solid grey;
    padding: 10px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  h2{
    text-align: center;
  }
  .boxmodel3{
    background-color: #3399ff;
    color: #ffffff;
    border: 2px;
    border-radius: 10px;
    padding: 10px;
    float: right;
    padding: 15px
  }
.exemplo1{
    background-color:#000000;
    color: white;
    padding: 2px;
    text-align: center;
    font-style: italic;
    border: 1px solid grey;
    margin: auto;
}